*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
canvas{
    height: 500px;
    width: 700px;
    background-color: rgba(80%, 80%, 10%, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}